.gradient-background {
  background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
  width: 100%;
  min-height: 40vh;
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.profile-img {
  height: 100px;
  border-radius: 50%;
}

#title .text-col {
  margin-left: auto;
  max-width: 500px;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

#features .row {
  justify-content: center;
  text-align: center;
}

#features .col {
  max-width: 400px;
}

#title img {
  max-width: 80%;
  margin-top: 2rem !important;
}

#title .text-col {
  padding: 0 1.5rem;
  text-align: center !important;
}

.page-wrapper {
  width: 100%;
  overflow: hidden;
}

#footer {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#footer .gradient-background {
  width: 100%;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

html,
body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

@media (max-width: 768px) {
  #footer {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 768px) {
  #title .row {
    flex-direction: column-reverse;
  }
}

@media (min-width: 992px) {
  #title img {
    margin-left: 20%;
    max-width: 70%;
  }
}


@media (min-width: 992px) {
  #title .row {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding-left: 5%; 
    padding-right: 5%; 
  }

  #title .col-lg-6:first-child {
    flex: 0 0 50%; 
    padding-right: 5%; 
  }

  #title .col-lg-6:last-child {
    flex: 0 0 45%; 
    text-align: right; 
  }

  #title img {
    max-width: 80%; 
  }
}
